.checkout {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.checkout-container {
  display: flex;
  width: 96%;
  margin: 10px;
}

.checkout_img {
  max-height: 70%;
  overflow-y: hidden;
  width: 80%;
  margin: 10px;
}

.checkout_img > img {
  width: 100%;
}

.subtotal-container {
  width: 20%;
}

.checkout_items {
  margin: 20px;
}

.checkout_items > h1 {
  color: rgb(56, 54, 54);
}
