.foodRow {
  display: flex;
  margin: 15px;
  margin-top: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 75px;
}

.foodRow::-webkit-scrollbar {
  display: none;
}

.item-card {
  margin: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-card img {
  object-fit: contain;
  width: 250px;
  height: 250px;
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.product-info h4 {
  color: rgb(116, 110, 110);
  margin: 5px;
  margin-top: 0px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addToCart {
  color: #164011;
  font-size: 15px;
  /* padding-top: 10px; */
}

.addToCart:hover {
  transform: scale(1.1);
  color: rgb(116, 110, 110);
}
