.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav img {
  object-fit: contain;
  width: 80px;
  height: 80px;
  border-radius: 30%;
  margin-top: 10px;
  margin-left: 10px;
}

.nav_black {
  background-color: rgb(241, 241, 241);
}

.nav_search {
  display: flex;
  flex: 0.6;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav_search input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav_searchIcon {
  background-color: #164011;
  color: white;
  padding: 5px;
  height: 22px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav_header {
  display: flex;
  align-items: center;
}

.nav_signin {
  margin: 0px 15px;
  cursor: pointer;
}

.nav_cart {
  color: #164011;
  transform: scale(1.2);
  margin: 0px 10px;
}

.loggedUser {
  display: flex;
  margin: 0px 15px;
}

.user_logo {
  width: 100%;
  height: 100%;
}

.loggedUser_info {
  margin-left: 5px;
}

.loggedUser_info > h4 {
  margin-bottom: 2px;
  color: rgb(41, 39, 39);
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.logout_Btn {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  margin-left: 2px;
  color: rgb(158, 158, 158);
  transition: all 0.2s ease-in-out;
}

.logout_Btn:hover {
  transform: scale(1.1);
}
