.productDetail {
  display: flex;
  margin: 30px;
  margin-top: 75px;
}

.review_heading {
  margin: 0px 150px;
  margin-bottom: 10px;
  color: rgb(75, 71, 71);
  text-align: center;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.addReview_container {
  width: 40%;
  display: flex;
  justify-content: center;
}

.review_container {
  width: 60%;
}

.productDetail > h1 {
  text-align: center;
}

.my_product {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.my_product .product_detailsInfo {
  display: flex;
  font-size: 20px;
  width: 380px;
  justify-content: space-evenly;
}

.product .product_detailsInfo h3 {
  color: rgb(102, 96, 96);
}

.my_product .product_img img {
  width: 380px;
  height: 380px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my_product .product_img img:hover {
  transform: scale(0.98);
  transition: all 0.4s ease-in-out;
}

.product_ingredients {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-detail > img {
  margin: 10px;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ingredient-detail > img:hover {
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}

.ingredient-detail h4 {
  color: #071f05;
  text-align: center;
  margin-top: -8px;
  margin-bottom: 10px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-heading {
  text-align: center;
  margin: 10px;
  color: #071f05;
}

.reviews {
  display: flex;
}
