.signin {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.signin_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.signin_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.signin_container > form > h5 {
  margin-bottom: 5px;
}

.signin_container > form > input {
  border: 1px solid lightgray;
  outline: none;
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.signin_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.sign_inButton {
  background-color: #164011;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #15530c;
  color: white;
}

.sign_inButton:hover {
  border-color: darkgray;
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.sign_inRegisterButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}

.sign_inRegisterButton:hover {
  background-color: #cd193f;
  border-color: #df2f55;
  color: white;
  cursor: pointer;
}
