.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal_button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 2px;
}
.subtotal_gift {
  display: flex;
  align-items: center;
}
.subtotal_gift > input {
  margin-right: 5px;
}
